.user-container {
    position: fixed;
    display: flex;
    gap: 4px;
    flex-direction: row;
    top: 0; 
    right: 0;
    padding: 1rem 1rem;
}

.user-container img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 100%;
}

.user-container-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-container button {
    margin-bottom: 1rem;
    background-color: cornflowerblue;
    color: white;
}
.user-container button:hover{
    cursor: pointer;
}